<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.shorttitle %}{{ page.shorttitle }}{% elsif page.title %}{{ page.title }}{% else %}{{ site.shorttitle }}{% endif %}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ site.description }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    {% seo %}

    <!-- Custom CSS & Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ 
    <link rel="stylesheet" href="{{ "/css/style.css" | prepend: site.baseurl }}">-->
    <link rel="stylesheet" type="text/css" href="{{ site.url }}{{ site.baseurl }}/css/style.css">

    <!--Remove image dragging -->
    <BODY ondragstart="return false;" ondrop="return false;">

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Oswald&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/0b565a8069.js" crossorigin="anonymous"></script>

    <!-- Custom Fonts -->
    <script type="text/javascript" src="{{ site.url }}{{ site.baseurl }}/css/programme.js"></script>

    <!-- WEBSITE ICON IN BROWSER -->
    <link rel="icon" href="{{ site.url }}{{ site.baseurl }}/favicon.ico">
</head>
