<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="/"><img src="/assets/img/favicon.png" style="margin-top:-15px" width="50px" alt="icon-about"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="/"></a>
                </li>
                {% for link in site.data.navigation_jfpc %}
                    {% if link.url contains 'http' %}
                        {% assign domain = '' %}
                    {% elsif link.url == '#' %}
                        {% assign domain = site.baseurl | append:"/" %}
                    {% else %}
                        {% assign domain = site.url | append:site.baseurl %}
                    {% endif %}

                    {% if link.side == 'right' %}
                        <li{% if link.url == page.url %} class="active"{% elsif page.homepage == true and link.url == '/' %} class="active"{% endif %}><a {% if link.class %}class="{{link.class}}"{% endif %} href="{{ domain }}{{ link.url }}"{% if link.url contains 'http' %} target="_blank"{% endif %}>{{ link.title | escape }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
            <ul class="nav navbar-nav navbar-left">
                <li class="hidden">
                    <a href="/"></a>
                </li>
                {% for link in site.data.navigation_jfpc %}
                    {% if link.url contains 'http' %}
                        {% assign domain = '' %}
                    {% elsif link.url == '#' %}
                        {% assign domain = site.baseurl | append:"/" %}
                    {% else %}
                        {% assign domain = site.url | append:site.baseurl %}
                    {% endif %}

                    {% if link.side == 'left' %}
                        <li{% if link.url == page.url %} class="active"{% elsif page.homepage == true and link.url == '/' %} class="active"{% endif %}><a {% if link.class %}class="{{link.class}}"{% endif %} href="{{ domain }}{{ link.url }}"{% if link.url contains 'http' %} target="_blank"{% endif %}>{{ link.title | escape }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div> 
    <!-- /.container-fluid -->
</nav> 
<!-- /.navbar -->
