<!-- About Section -->
{% assign links = include.links %}

<section id="about" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">

                {% if page.conference == "jfpc" %} 
                    <h2 class="section-heading">Plus d'infos sur JFPC 2020</h2>
                {% elsif page.conference == "jiaf" %}
                    <h2 class="section-heading">Plus d'infos sur JIAF 2020</h2>
                {% else %}
                    <h2 class="section-heading">Plus d'infos</h2>
                    <ul class="bulletinfo">
                        <li>
                            <div class="bulletinfo-image">
                                <a href="{{ site.url | append:site.baseurl }}/jfpc">
                                    <img class="img-circle img-responsive" src="{{ site.url | append:site.baseurl }}/assets/img/jfpc.png" alt="">
                                </a>
                            </div>
                            <div class="bulletinfo-panel">
                                <div class="bulletinfo-heading">
                                    <h4>JFPC 2020</h4>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="bulletinfo-image">
                                <a href="{{ site.url | append:site.baseurl }}/jiaf">
                                    <img class="img-circle img-responsive" src="{{ site.url | append:site.baseurl }}/assets/img/jiaf.png" alt="">
                                </a>
                            </div>
                            <div class="bulletinfo-panel">
                                <div class="bulletinfo-heading">
                                    <h4>JIAF 2020</h4>
                                </div>
                            </div>
                        </li>
                    </ul>
                {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="bulletinfo">
                    {% for about_data in links %}
                        <li>
                        {% if page.conference %} 
                            <div class="bulletinfo-image conf">
                        {% else %}
                            <div class="bulletinfo-image">
                        {% endif %}
                                <a href="{{ site.url | append:site.baseurl }}{{ about_data.link }}">
                                    <img class="img-circle img-responsive" src="{{ site.url | append:site.baseurl }}/assets/img/{{ about_data.img }}" alt="">
                                </a>
                            </div>

                        {% if page.conference %} 
                            <div class="bulletinfo-panel conf">
                        {% else %}
                            <div class="bulletinfo-panel">
                        {% endif %}
                                <div class="bulletinfo-heading">
                                    <h4>{{ about_data.name }}</h4>
                                </div>
                                <!--div class="bulletinfo-heading">
                                    <p class="text-muted">{{ about_data.info }}</p>
                                </div>
                                <a href="{{ site.url | append:site.baseurl }}{{ about_data.link }}" class="page-scroll btn btn-sm">Plus</a-->
                            </div>
                        </li>
                            
                        {% comment %}
                        {% assign r = forloop.index | modulo: 3 %}
                        {% if r == 0 %}
                    </ul>
                    <ul class="bulletinfo">
                        {% endif %}
                        {% endcomment %}
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </section>