<!DOCTYPE html>
<html>

  {% include _head.html %}


    <body id="page-top" class="index">

    {% include navigation_bar navigation = site.data.navigation home = true %}

    <!-- Header -->
    <header style="background-image: url('{{ site.baseurl }}/images/header-home.jpg');">
        <div class="container" style="height: 100%;">
            <div class="intro-text">
                <div class="intro-heading">{{ site.title }}</div>
                <div class="intro-lead-in">{{ site.date }}</div>
                <div class="intro-lead-in">{{ site.location }}</div>
                <div class="intro-info"><a href="https://www.facebook.com/pg/ThomasCalvanicoPhotographe" target="_blank" style="color:#fff">&copy; Thomas Calvanico</a></div>
                <!-- a href="#intro" class="page-scroll btn btn-xl">Tell Me More</a 
copyright: <a href="https://www.facebook.com/pg/ThomasCalvanicoPhotographe" target="_blank">Thomas Calvanico</a>-->
            </div>
        </div>
    </header>

    {% include _speakers.html %}
    {% include _plan.html %}
    {% include _sponsors.html %}
    {% include _footer.html %}
    {% include _speakers_info.html %}
    {% include js %}

    </body>
</html>