<!DOCTYPE html>
<html class="no-js" lang="{% if page.language == nil %}en{% else %}{{ site.language }}{% endif %}">

    <style type="text/css">
        /*INCLUDE MAIN CSS FILE*/
        {% capture criticalcss %}
            {% include critical.scss %}
        {% endcapture %}
        {{ criticalcss | scssify }}
    </style>

    {% include js %}
    {% include _head.html %}


    <body id="page-top" class="index">

        {% if page.conference %} 
            {% include navigation_bar navigation = site.data.navigation_conf home = true %}
        {% else %}
            {% include navigation_bar navigation = site.data.navigation home = true %} 
        {% endif %}

    <!-- Header -->
    {% if page.image %}
    <header class = "image" style="background-image: url('{{ site.url | append:site.baseurl }}/images/{{ page.image }}');">
    {% else %}
    <header class = "image" style="background-image: url('{{ site.url | append:site.baseurl }}/images/header-home.jpg');">
    {% endif %}
        <div class="container">
            <div class="intro-text">
                {% if page.title %}
                    <div class="intro-heading">{{ page.title }}</div>
                {% else %}
                    <div class="intro-heading">{{ site.title }}</div>
                {% endif %}
                <ul class="home">
                    {% if page.conference == "jfpc" %}
                    <li><a class="btn btn-xl alert" href="http://i3s.unice.fr/jfpc_2021/" style="font-size:2.5rem">SITE des JFPC 2021</a></li>
                    <li><div class="intro-lead-in"><tl-old>{{ site.date }}</tl-old><br>{{ site.location }}</div></li>
                    {% elsif page.conference == "jiaf" %}
                    <li><a class="btn btn-xl alert" href="http://pfia2020.fr/jiaf-2020/" style="font-size:2.5rem">REJOINT PFIA 2020</a></li>
                    <li><div class="intro-lead-in"><tl-old>{{ site.date }}</tl-old><br>{{ site.location }}</div></li>
                    {% else %}
                    <li><a class="btn btn-xl alert" href="http://i3s.unice.fr/jfpc_2021/" style="font-size:2.5rem">SITE des JFPC 2021</a></li>
                    <li><a class="btn btn-xl alert" href="http://pfia2020.fr/jiaf-2020/" style="font-size:2.5rem">JIAF REJOINT PFIA 2020</a></li>
                    {% endif %}
                </ul>
            </div>
            <!--div class="intro-info"><a href="https://www.facebook.com/pg/ThomasCalvanicoPhotographe" target="_blank">&copy; Thomas Calvanico</a></div-->
        </div>
    </header>
    
    {% if page.conference == "jfpc" %} 
        {% include _plan.html links = site.data.sitemap_jfpc style = "conf" %}
    {% elsif page.conference == "jiaf" %}
        {% include _plan.html links = site.data.sitemap_jiaf style = "conf" %}
    {% else %}
        {% include _plan.html links = site.data.sitemap %}
    {% endif %}
    

    {% comment %}{% endcomment %}
    {% include _speakers.html %}  
    {% include _speakers_info.html %}
    

    {% include _sponsors.html %}
    {% include _footer.html %}
    {% include js %}

    </body>
</html>