<!DOCTYPE html>
<html class="no-js" lang="{% if page.language == nil %}en{% else %}{{ site.language }}{% endif %}">

    <style type="text/css">
        /*INCLUDE MAIN CSS FILE*/
        {% capture criticalcss %}
            {% include critical.scss %}
        {% endcapture %}
        {{ criticalcss | scssify }}
    </style>
  
  {% include js %}
  {% include _home.html %}
  
  <body>
    {% include _navigation_jiaf.html %}
    <div class="event black-frame">
        {% if page.subheadline %}<p class="subheadline">{{ page.subheadline }}</p>{% endif %}
        <h1>{{ page.title }}</h1>
        
        {{ content }}
    </div>
  </body>
  {% include _footer.html %}
</html>
