<!DOCTYPE html>
<html class="no-js" lang="{% if page.language == nil %}en{% else %}{{ site.language }}{% endif %}">

    <style type="text/css">
        /*INCLUDE MAIN CSS FILE*/
        {% capture criticalcss %}
            {% include critical.scss %}
        {% endcapture %}
        {{ criticalcss | scssify }}
    </style>
  
    {% include _head.html %}

    <body id="page-top" class="index">

        {% if page.conference == "jfpc" %} 
            {% include navigation_bar navigation = site.data.navigation_jfpc home = true %}
        {% elsif page.conference == "jiaf" %}
            {% include navigation_bar navigation = site.data.navigation_jiaf home = true %}
        {% else %}
            {% include navigation_bar navigation = site.data.navigation home = true %} 
        {% endif %}

        <!-- Header -->
        <header style="background-image: url('{{ site.baseurl }}/images/{{ page.image }}'), url('{{ site.baseurl }}/images/blanc.png'); background-blend-mode:overlay; width: 100vw !important;max-height: 50vh;">
            <div class="container">
                <div class="intro-text">
                    <div class="intro-heading">{{ page.title }}</div>
                    {% if page.subheadline %}<div class="subheadline">{{ page.subheadline }}</div>{% endif %}
                </div>
                {% if page.copyright %}<div class="intro-info"><a href={{ page.website }} target="_blank">&copy; {{ page.copyright }}</a></div>{% endif %}
            </div>
        </div>
        </header>

        <div class="event black-frame">
            {{ content }}
        </div>
        
    </body>

    {% include _footer.html %}
    {% include js %}
</html>